body {
  background-color: black;
  color: white;
  margin: 0;
  font-family: sans-serif;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}
.spotify-a{
  padding-left: 20px;
  padding-right: 70px;
}
.spotify-logo {
  display: block;
  width: 32px;
  height: 32px;
}

.search {
  display: flex;
  align-items: center;
  width: 455px;
  justify-content: space-between;
}

.home_button {
  background-color: rgb(33, 33, 33);
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50px;
  padding: 0;
}
.home_button:hover {
  background-color: rgb(83, 83, 83);
  width: 46.5px;
  height: 46.5px;
}
.home_img {
  width: 30px;
  padding: 0;
}

.search_input {
  background-color: rgb(33, 33, 33);
  font-size: medium;
  color: white;
  border: none;
  padding-top: 12.25px;
  padding-bottom: 12.25px;
  border-radius: 50px;
  width: 400px;
}

input::placeholder {
  color: rgb(179, 179, 179);
  font-family: sans-serif;
  padding-left: 20px;
}

.user{
  padding-right: 20px;
}

.explore {
  font-weight: bolder;
  font-family: sans-serif;
  border: none;
  padding: 8px;
  width: 140px;
  border-radius: 50px;
}

.install {
  background-color: black;
  color: gray;
  font-weight: bolder;
  font-family: sans-serif;
  border: none;
  padding: 10px;
  width: 140px;
  border-radius: 50px;
}

p {
  font-weight: bolder;
}

.your-library{
  background-color: rgb(33, 33, 33);
  width: 367px;
  border: none;
  border-radius: 5px;
}

.catalog{
  background-color:rgb(83, 83, 83);
  width: 714px;
  border: none;
  border-radius: 5px;
}

.info{
  background-color: rgb(33, 33, 33);
  width: 367px;
  
  border: none;
  border-radius: 5px;
}

.split_screen{
  display: flex;
  justify-content: space-evenly;
  height: 1000px;
  
}

.seperator{
  display: list-item;
}

