html,
body {
  margin: 0%;
  font-family: PP Telegraf;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-links {
  padding-left: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: bold;
}

.qs {
  height: 35px;
  margin: 10px;
}

a {
  text-decoration: none;
  color: black;
  font-size: small;
}

.access {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 40px;
}

button {
  font-family: PP Telegraf;
  padding: 10px;
}

.counsel {
  border: 1px solid rgb(255, 207, 49);
  background-color: rgb(255, 207, 49);
  border-radius: 18px;
  font-weight: bold;
}

.apply {
  border: 1px solid black;
  background-color: white;
  border-radius: 18px;
  font-weight: bold;
}

.search {
  width: 20px;
}

.secondnav {
  padding: 10px;
  background-color: rgb(246, 198, 42);
  display: flex;
  align-items: center;
  gap: 35px;
}

.secondnav {
  font-size: small;
  display: flex;

}

.body {
  display: flex;
  align-items: center;
  padding-top: 25px;
  padding-left: 100px;
}

.para1 {
  width: 800px;
  line-height: 1em;
}


