body {
  background-color: black;
  color: white;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

button:hover {
  cursor: pointer;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.spotify-icon {
  padding-left: 20px;
  padding-right: 70px;
}

.spotify-logo {
  display: block;
  width: 32px;
  height: 32px;
}

.search {
  display: flex;
  align-items: center;
}

.search_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.home_button {
  background-color: rgb(33, 33, 33);
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50px;
  padding: 0;
}

.home_button:hover {
  background-color: rgb(83, 83, 83);
  width: 46.5px;
  height: 46.5px;
}

.home_img {
  width: 30px;
}

.search_input {
  background-color: rgb(33, 33, 33);
  font-size: medium;
  color: white;
  border: none;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 50px;
  width: 450px;
}

input::placeholder {
  color: rgb(179, 179, 179);
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
}

.user {
  padding-left: 100px;
  padding-right: 20px;
}

.explore {
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  padding: 8px;
  width: 140px;
  border-radius: 50px;
  font-weight: bolder;
}

.install {
  background-color: black;
  color: gray;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  padding: 10px;
  width: 140px;
  border-radius: 50px;
  font-weight: bolder;
}

.app {
  display: grid;
  grid-template-columns: 350px 1fr 350px;
  grid-template-rows: 1fr 90px;
  flex: 1;
  gap: 6px;
  padding-left: 6px;
  padding-right: 6px;
}

.left,
.right,
.main {
  width: auto;
}

.left {
  background-color: rgb(18, 18, 18);
  border-radius: 10px;
}

.center {
  background-color: rgb(33, 33, 33);
  border-radius: 10px;
}

.right {
  background-color: rgb(18, 18, 18);
  border-radius: 10px;
}

.bottom {
  display: flex;
  align-items: center;
  grid-column: 1 / -1;
  justify-content: space-between;
}

.bottom_left {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.singer_image {
  background-color: gray;
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.song_details {
  padding-left: 10px;
  padding-right: 10px;
}

.singer_name {
  font-size: x-small;
  text-decoration: none;
  color: white;
}

.singer_name:hover {
  text-decoration: underline;
}

.song_name {
  text-decoration: none;
  color: white;
  font-size: small;
}

.song_name:hover {
  text-decoration: underline;
}

.add_button {
  background-color: black;
  border: none;
}

.add_icon {
  width: 20px;
  height: 20px;
}

.controls {
  width: 1000px;
  display: flex;
  align-self: center;
  gap: 20px;
}

.shuffle,
.rewind,
.pause-play,
.fast-forward,
.repeat {
  width: 30px;
  height: 30px;
  background-color: rgb(33, 33, 33);
  border: none;
  border-radius: 5px;
}